@model MVCBlog.Core.Entities.Category

<h2>@Common.Delete&nbsp;@Common.Category</h2>
<h4>@Common.DeleteConfirmation</h4>
@Html.ValidationMessage("CustomError", new { @class = "text-danger" })
<hr />
<div class="row">
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.YearFrom)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YearFrom)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.YearTo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.YearTo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameBrief)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameBrief)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
        </dl>
    </div>
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Created)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CreatedUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CreatedUser)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Modified)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Modified)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ModifiedUser)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ModifiedUser)
            </dd>
        </dl>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value=@Common.Delete class="btn btn-default" /> |
        @Html.ActionLink(@Common.BackToList, MVC.Category.Index())
    </div>
}