@using msg = MVCBlog.Core.Resources;
@model MVCBlog.Core.Entities.Category

<h2>@Common.Edit&nbsp;@Common.Category</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationMessage("CustomError", new { @class = "text-danger" })
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <hr />
        @Html.Partial("_CreateOrEdit", Model)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" value=@Common.Save class="btn btn-success" id="b_submit">
                <span class="glyphicon glyphicon-ok"></span> Guardar
            </button>
        </div>

    </div>
    </div>
}
<div>
    @Html.ActionLink(@Common.BackToList, MVC.Category.Index())
</div>

@section ScriptContent {
    <script type="text/javascript" src="~/Scripts/onlyNumeric.js"></script>
}